<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form autocomplete="off" #f=ngForm>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="user.usname" name="username" placeholder="Enter Username">
        <i class="fa fa-american-sign-language-interpreting fa-5x"></i> 
           </div>
      <div class="form-group">
      <input type="password" class="form-control" [(ngModel)] = "user.pwd" name="password" placeholder="Enter Password">
    </div>
      <button class="btn btn-primary" (click)="sendData()">Submit</button>
    </form>
  </div>
</div>
